/* usuarios/static/css/style.css */

.material-symbols-outlined {
    /* Mantiene las configuraciones de variación de fuente para los iconos */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* No es necesario más CSS si confías en las clases de Tailwind */